# remove the curly braces when you replace the fields below:
UPS_ACCESS_KEY={UPS ACCESS KEY HERE}
USPS_USERNAME={USPS USERID KEY HERE}

FEDEX_API_URL=https://apis.fedex.com
FEDEX_API_KEY={FEDEX API KEY HERE}
FEDEX_SECRET_KEY={FEDEX SECRET KEY HERE}

MONGO_USERNAME={USERNAME HERE}
MONGO_PASSWORD={PASSWORD HERE}
MONGO_PORT=27017
MONGO_DB=packages

TZ='America/Denver'